[flake8]
ignore = W504,W605,C901
exclude =
    *migrations*,
    # python related
    *.pyc,
    .git,
    __pycache__,
    ./apidoc/*
    ./docs/*
    ./webpack/node_modules/*
    ./blueapps/*
    ./sites/*

max-line-length=10000
max-complexity=12
format=pylint
show_source = False
statistics = True
count = True
